@charset "utf-8";


@import url("navi.css");
@import url("forms.css");
@import url("tables.css");
@import url("featured_slide.css");

@import url(style.css);
@import url(media.css);


html{overflow-y:scroll;}
body{margin:0; padding:0;  font-size:12px; font-family:verdana, Arial, Helvetica, sans-serif; background-color:#FFFFFF;}


.logos{
  position:absolute;
  margin-top: 20px;
  font-family: 'twayair';
  color:#111;
  font-size:25px;
}


.top_three {
  position: relative;
	left:450px;
  margin-top: 6px;
}

.top_three a{
  font-size:13px;
color:#6f0579dc;}

.fl_right{
  position:relative;
  left:450px;
  list-style:none;
  margin-top: 30px;
}

.fl_right li{
  float:left;
  position:relative;
  margin:5px 30px;
  padding:0;

}

.fl_right li a{
display:block;
margin:0;
}

.fl_right li ul { background-color:#b39ddb; 
  display:none; /* 평상시에는 서브메뉴가 안보이게 하기 */ 
  height:570%; padding:0px; margin:5px; border:0px; position:absolute; width:150px; z-index:100; }

.fl_right li:hover ul { display:block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */ }


#header #topnav{display:block; float:right; width:300px; margin:30px; padding:0;}
#header ul{margin:0; padding:0; }
#header li {display:inline; margin-right:35px;}

#header li a:link,  #header li a:hover{margin:0; padding:0 3px 10px 3px; color:#000; border-bottom:1px solid #2D3134;}
#header li a:hover, #header li.active a{color:#673ab7;}


/*반응형 웹 시작*/

@media screen and (min-width: 768px) and (max-width:1439px) {
.top_three{
flex-direction: column;
align-items:flex-start;
padding:8px 24px;
}
.fl_right{
  margin-top:50px ; /*로고와 떨어지게 만들어줌.*/
  flex-direction: column;
  align-items:center;
  width:100%;
  background-color: #703bd1;
}
.fl_right li{
width:100%;
text-align:center;
}
}
.nav__toogleBtn{
  display:none;
  position:absolute;
  right:35px;
  font-size:24px;
  color:aquamarine
}

.navbar__toogleBtn{
  display:block
}




/*사진 슬라이드 쇼*/


.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;}



img{display:block; margin:0; padding:0; border:none;}
.imgl, .imgr{border:1px solid #999999; padding:5px;}
.imgl{margin:0 8px 8px 0; clear:left;}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; margin:0; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0; padding:0; font-size:20px; font-weight:normal; line-height:normal; font-family:Georgia, "Times New Roman", Times, serif;}
.col0{color:#FFFFFF; background-color:#ffffff; border-top:5px solid #4A5155;}
.col1, .col1 a{color:#C4C5C3; background-color:#ffffff;}

.col2{background-color:#8d65d6; padding:15px 0}
.col3{color:#ffffff; background-color:#FFFFFF;}
.col3 a{color:#ffffff; background-color:#FFFFFF;}
.col4{color:#CCCCCC; background-color:#ffffff;}
.col4 a{color:#ffffff; background-color:#ffffff;}
.col5, .col5 a{color:#ffffff; background-color:#ffffff;}





/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; margin:0; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0; padding:0; font-size:20px; font-weight:normal; line-height:normal; font-family:Georgia, "Times New Roman", Times, serif;}
.col0{color:#FFFFFF; background-color:#2D3134; border-top:5px solid #4A5155;}
.col1, .col1 a{color:#C4C5C3; background-color:#2D3134;}
.col2{color:#FFFFFF; background-color:#ffffff; padding:15px 0}
.col3{color:#666666; background-color:#FFFFFF;}
.col3 a{color:#02ACEE; background-color:#FFFFFF;}
.col4{color:#CCCCCC; background-color:#2A2B2F;}
.col4 a{color:#02ACEE; background-color:#2A2B2F;}
.col5, .col5 a{color:#666666; background-color:#1B1B1B;}

/* ----------------------------------------------Generalise------------------------------------- */

#header, #topbar, #topnav, #breadcrumb, #homecontent, #container, #footer, #copyright{display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------Header------------------------------------- */

#header{padding:0 0 80px 0;}
#header #logo{display:block; float:left; width:300px; margin-top:15px; overflow:hidden;}
#header #logo h1, #header p, #header ul{margin:0; padding:0; list-style:none; line-height:normal;}
#header #logo h1{font-size:30px;}

/* ----------------------------------------------BreadCrumb------------------------------------- */

#breadcrumb a{color:#FFFFFF; background-color:#02ACEE;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Container------------------------------------- */

#container{padding:20px 0;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6, #homecontent h2{font-size:20px; margin:0 0 15px 0; padding-bottom:8px; color:#666666; background-color:#FFFFFF; border-bottom:1px dotted #682525;}

/* ----------------------------------------------Homepage------------------------------------- */

#homecontent{padding:30px 0; line-height:1.3em;}
#homecontent img{padding:4px; border:1px solid #999999;}
#homecontent ul{margin:0; padding:0; list-style:none;}
#homecontent p.readmore{font-weight:bold; text-align:right;}

/* Left Column */

#homecontent .fl_left{display:block; float:left; width:530px;}
#homecontent .fl_left .column2{display:block; width:530px;}
#homecontent .fl_left li{display:block; float:left; width:250px; margin:0 30px 30px 0; padding:0;}
#homecontent .fl_left li.last{margin-right:0;}
#homecontent .fl_left p.readmore{display:block; width:240px; padding:5px; text-align:right; line-height:normal; font-weight:bold;}

/* Right Column */

#homecontent .fl_right{display:block; float:right; width:385px;}
#homecontent .fl_right li{display:block; width:385px; margin:0 0 10px 0; padding:0 0 8px 0; border-bottom:1px dotted #999999;}
#homecontent .fl_right img{float:left; width:80px; height:80px; margin:0 10px 0 0;}

/* ----------------------------------------------Content------------------------------------- */

#content{display:block; float:left; width:600px;}

/* Comments */

#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#02ACEE; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#02ACEE; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .holder, #column #featured{display:block; width:300px; margin-bottom:20px;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 0 0; font-size:20px; line-height:normal; border-bottom:1px dotted #999999;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; border:1px solid #999999;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0; padding:4px; border:1px solid #CCCCCC;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{margin:0; padding:0; list-style:none; color:#666666; background-color:#F9F9F9;}
#column #featured a{color:#02ACEE; background-color:#F9F9F9;}
#column #featured li{display:block; width:250px; margin:0; padding:20px 25px; color:#666666; background-color:#F9F9F9;}
#column #featured li p.imgholder{display:block; width:240px; height:90px; margin:20px 0 15px 0; padding:4px; border:1px solid #CCCCCC;}
#column #featured li h2{margin:0; padding:0 0 8px 0; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:normal; border-bottom:1px dotted #999999;}
#column #featured p.readmore{display:block; width:100%; margin-top:15px; font-weight:bold; text-align:right; line-height:normal;}
#column #latestnews{display:block; width:100%; margin:0; padding:0; list-style:none;}
#column #latestnews li{display:block; margin:0 0 20px 0; padding:0 0 15px 0; border-bottom:1px dotted #CCCCCC;}
#column #latestnews li.last{margin-bottom:0;}
#column #latestnews p{margin:0 0 5px 0; padding:0;}
#column #latestnews p.readmore{margin:0; padding:0;}
#column #latestnews .imgl{margin:0 10px 10px 0; padding:4px;}

/* ----------------------------------------------Footer------------------------------------- */

#footer{padding:20px 0;}
#footer h2, #footer p, #footer ul, #footer a{margin:0; padding:0; font-weight:normal; list-style:none; line-height:normal;}
#footer h2{font-size:18px; font-weight:normal; margin-bottom:10px; padding-bottom:8px; border-bottom:1px dotted #999999;}
#footer li{margin-bottom:5px;}
#footer .footbox{display:block; float:left; width:180px; margin:0 15px 0 0; padding:0;}
#footer .last{margin:0;}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{padding:15px 0;}
#copyright p{margin:0; padding:0;}
