#header #logo{margin:80px 0 0 0; background-color: #A197BD;}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0 280px;}/* 280px => 80px for #introblocks negative margin */

#pageintro article, #pageintro article p{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro article p{max-width:65%; line-height:2rem;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro footer{margin-top:50px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

.elements{}
.elements-three li, .elements-four li{margin-bottom:50px;}
.elements-three li:nth-last-child(-n+3), .elements-four li:nth-last-child(-n+4){margin-bottom:0;}/* Removes bottom margin from the last line of items - margin is restored in the media queries when items stack */
.elements-three li:nth-child(3n+1), .elements-four li:nth-child(4n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
.elements article{display:block; padding:30px 15px; border-radius:50px 0; text-align:center;}
.elements article *{margin:0 0 15px 0; padding:0; line-height:1;}
.elements article i{width:60px; height:60px; line-height:60px; margin-bottom:30px; font-size:1.6rem; text-align:center; border-radius:50%;}
.elements article .heading{font-size:1.2rem; font-weight:700;}
.elements article p{margin:0; line-height:normal;}

/* Introblocks */
#introblocks{display:block; position:relative; margin:-160px 0 130px 0; z-index:1;}/* 160px => 80px + container padding */

/* Services */
#services{}
#services .elements article{border-radius:0;}

/* Shout */
.shout{}
.shout figure{display:block; max-width:546px;/* same width as the image - contains the caption */}
.shout figure img{}
.shout figure figcaption{display:block; position:relative;}
.shout figure figcaption a{display:block; position:relative; padding:15px; border:solid; border-width:0 1px 1px 1px;}
.shout figure figcaption a::after{position:absolute; top:12px; right:15px; width:30px; height:30px; line-height:30px; font-family:"Font Awesome\ 5 Free"; font-weight:900; content:"\f105";/* fa-angle-right */ text-align:center; border-radius:50%;}

/* Team Members */
.team{}
.team li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.team figure{display:block; text-align:center;}
.team figure *{margin:0; padding:0;}
.team figure a{}
.team figure img{}
.team figure figcaption{padding:20px 10px; line-height:1; border:solid; border-width:0 1px 1px 1px;}
.team figure strong{display:block; margin-bottom:8px; font-size:1.4rem; font-weight:400;}
.team figure em{display:block; font-style:normal; font-size:.8rem;}

/* Easy Pie Charts */
.pr-charts{}
.pr-charts .pr-chart-ctrl{display:block; float:left; width:25%; min-height:200px;}
.pr-charts .pr-chart-ctrl .pr-chart{display:block; position:relative; width:100%; margin:0 0 20px 0; text-align:center;}
.pr-charts .pr-chart-ctrl .pr-chart canvas{display:block; margin:0 auto; padding:0; vertical-align:top;}
.pr-charts .pr-chart-ctrl .pr-chart i{position:absolute; top:0; left:0; width:100%; height:200px; line-height:200px; font-size:18px; font-style:normal;}/* Must have same height & line height as set in the javascript size element to vertical align centre */
.pr-charts .pr-chart-ctrl p{margin:0; padding:0; text-transform:uppercase;}

/* Testimonials */
#testimonials{}
#testimonials article{text-align:center;}
#testimonials article *{margin:0; padding:0;}
#testimonials article figure{display:inline-block; margin-bottom:20px;}
#testimonials article figure img{float:left; margin-right:15px; border-radius:50%;}
#testimonials article figure figcaption{float:left; margin-top:30px; font-size:1.4rem; text-align:left;}
#testimonials article figure figcaption .heading{font-size:1.4rem;}
#testimonials article figure figcaption em{display:block; margin-top:-5px; font-size:.8rem; font-style:normal;}
#testimonials article blockquote{margin-bottom:20px; padding:20px; border-radius:25px 0;}
#testimonials article blockquote::before{top:15px; left:15px; font-size:30px; line-height:30px;}

/* Latest */
#latest{}
#latest > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
#latest article{}
#latest article figure{}
#latest article figure img{}
#latest article .meta{display:block; margin:0 0 15px 0; padding:5px 10px;}
#latest article .meta li{display:block; float:left; width:50%; font-size:.8rem;}
#latest article .meta li:last-child{text-align:right;}
#latest article .meta li i{margin-right:5px;}
#latest article .excerpt{display:block; max-width:85%; margin:0 auto; padding:15px 0 15px 15px; border-left:1px solid;}
#latest article .excerpt time{display:block; margin-bottom:8px; text-transform:uppercase; font-size:.8rem; font-style:normal; line-height:1;}
#latest article .excerpt .heading{margin:0; padding:0; font-size:1.2rem;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Contact Details
--------------------------------------------------------------------------------------------------------------- */
#ctdetails{}

#ctdetails figure > ul{}
#ctdetails figure > ul li{position:relative; margin:0 0 35px 0; padding:15px 15px 15px 80px; line-height:1;}
#ctdetails figure > ul li:last-child{margin:0;}/* Used when elements stack in small viewports */
#ctdetails figure > ul li i{position:absolute; top:15px; left:15px; width:45px; height:45px; line-height:45px; font-size:16px; text-align:center; border-radius:50%;}
#ctdetails figure > ul li span{display:block; padding:4px 0 0 0;}
#ctdetails figure > ul li strong{display:block; margin:0 0 8px 0; text-transform:capitalize;}

#ctdetails article{margin-bottom:0;}/* Used when elements stack in small viewports */
#ctdetails input, #ctdetails button{border:1px solid;}
#ctdetails input{display:block; width:100%; padding:15px; margin-bottom:20px;}
#ctdetails button{padding:8px 18px 10px; text-transform:uppercase; font-weight:400; cursor:pointer;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}
#footer .logoname{margin-bottom:50px;}
#footer p + .faico{margin-top:30px;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .latestimg{}
#footer .latestimg > li{display:inline-block; float:left; width:30%; margin:0 0 5% 5%;}
#footer .latestimg > li:nth-last-child(-n+3){margin-bottom:0;}/* Removes bottom margin from the last three items - margin is restored in the media queries when items stack */
#footer .latestimg > li:nth-child(3n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
#footer .latestimg > li img{width:100%;}/* Force the image to resize to take the full space - may have to be changed for tablets, depends on personal preference */
#footer .latestimg > li a.imgover{display:block;}